html, body{
  width:100%;
  padding:0;
  margin:0;
  border:0;
  color:#222;
  font-family:'Arial','Helvetica', sans-serif;
  font-size:14px;
  text-align:center;
  background: #e8eaed;
  background: white;
  overflow-x:hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style:none;
}

p{  
  word-break:keep-all;
}

/************* Application */
.app-header{
  height:50px;
  background-color: #007bff;
  color:#ffffff;
}
.app-header-content{
  padding:15px 10px;
}
.app-header-content{
  margin:auto 30px;
} 
.app-header button{
  float:right;
}
 .board-container{
  text-align:left;
  margin:auto;
  padding:30px 0;
 }

.board-container > div{
  display:inline-block;
  vertical-align:top;
}
.app-menu{
  width:250px;
  background-color:#fff;
  padding:0px 15px;
}

.board , .app-menu{  
  background: white;
  margin:0;
  /*
  box-shadow:0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  */
}
.board{
  width:calc(100% - (250px + 30px));
  padding:0;
}
.list-header{
  text-align:left;
  margin:0 0 15px 0;
  padding:15px 20px;
  position:relative;
  background-color:#007bff;
  color:#fff;
  border-radius:3px 3px 0 0;
}
.list-header h1{
  font-size:20px;
  margin:0;
}
.list-header-action button{
  position:absolute;
  top:8px;
  font-size:16px;
  padding:5px 7px;
  color:#fff;
}
.list-header button:nth-of-type(1){  
  right:10px;
}
.list-header button:nth-of-type(2){  
  right:45px;
}
.list-header button:hover{
  background-color:#fff;
}

.task-form {
  margin-bottom:20px;
  text-align:left;
  position:relative;
}
.task-form .textfield{
  padding-right:100px;
}
.task-form .textfield:focus + input[type="submit"]{
  display:block;
}
.task-form input[type="submit"]{
  position:absolute;
  top:8px;
  right:10px;
  height:35px;
  padding:0px 15px;
}
.mylist li:first-child,
.mylist li:last-child{
  border-radius:0;
}
.mylist li{
  padding:1.1rem;
  border-left-width:3px;
}
.mylist .badge{
  border:1px solid #fff;
  margin-left:10px;
}
.mylist li.active{
  border-left-color:#0463ca;
}
.mylist button{
  position:absolute;
  right:10px;
  top:2px;
  opacity:0.5;
}
.mylist button:hover{
  opacity:1;
}
.mylist li:not(.active):hover{
  background-color:#efefef;
  cursor:pointer;
}

/*
.checkbox{
  position:absolute;
  top:18px;
  left:15px;
}
.checkbox input{
  display:none;
}
.checkbox label{
  display: inline-block;
}
.checkbox label span{
  background:#fff;
  border:1px solid #aaa;
  display:block;
  width:18px;
  height:18px;
  margin-right:10px;
  position:relative;
  border-radius:1px;
}
.checkbox label span:hover{
  border-color:#aaa;
  cursor:pointer;
}
.checkbox label span:before{
  content: '';
  position: absolute;
  border-color: #555;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top:2px;
  left:6px;
  transform: rotate(43deg);
  height:10px;
  width:5px;
  display: none;
}
.checkbox input:checked + label span{
  border-color:#aaa;
}
.checkbox input:checked + label span:before{
  display:block;
}
*/


/**************** Folder List *****************/
#folder-list-container > #get-folder-form{
  display:block;
  width:100%;
  border-radius:3px;
}

.folder-list{
  text-align: left;
  margin-top:5px;
}
.folder-list li{
  position:relative;
} 
.folder-list .empty-list{
  text-align:center;
  padding:15px;
  background-color:#eee;
  margin:0;
}
.folder-list-item {
  display:block;
  position:relative;
  margin:0;
}
.folder-list-item input[type="radio"]{
  display:none;
}
.folder-list-item input[type="radio"]:checked + span{
  background-color:#e1edfb;
  border-color:#007bff;
}
.folder-list-item span{
  display:block;
  margin:0 0 2px 0;
  padding:8px 15px;
  background-color:#fff;
  border-left:3px solid transparent;
}
.folder-list-item span:hover{
  background-color:#e1edfb;
  cursor:pointer;
}


/*******************************************/
.folder-form{
  text-align:left;
}
.folder-form .textfield{
  margin-bottom:10px;
  display:block;
  width:100%;
}

/******************************************************/
.task-detail{
  position:absolute;
  top:0;
  right:-450px;
  width:450px;
  min-height:100%;
  padding:0 0 0 20px;
  z-index:100;
  text-align:left;
  transition: right 0.2s;
  background-color:#fff;

}
.task-detail .inner-container{
  background-color:#fff;
  border-left:1px solid #ddd;
  box-shadow:0 0 15px #d6d5d5;
  min-height:100%;
  position:absolute;
  top:0;
  right:0;
  width:calc(100% - 20px);
  padding:15px;
}
.show-task-detail{
  right:0;
}
.task-detail .close{
  position:absolute;
  top:10px;
  right:10px;
  font-size:14px;
  padding:5px 7px;
  border-radius:3px;
  color:#fff;
  background-color:#fff;
  color:#000;
}
.task-detail .close:hover{
  opacity:1;
}
.task-detail h1{
  padding:13px 15px;
  background-color:#007bff;
  color:#fff;
  font-size:16px;
  border-radius:3px 3px 0 0;
  position:relative;
}
.task-detail input[type="submit"]{
  width:100px;
}
.task-detail textarea{
  height:200px;
}
.task-detail label{
  display:block;
  margin:20px 0 0 0;
  padding:0;
  color:#076fde;
}
.task-detail select{
  width:100%;
  padding:10px;
}

.task-detail #delete-item{
  float: right;
}
