html, body{
  width:100%;
  padding:0;
  margin:0;
  border:0;
  color:#222;
  font-family:'Arial','Helvetica', sans-serif;
  font-size:14px;
  text-align:center;
  background: #e8eaed;
  background: white;
}
ul {
  margin: 0;
  padding: 0;
  list-style:none;
}

p{  
  word-break:keep-all;
}

/************* Application */
.app-header{
  height:60px;
  background-color: #fff; 
  box-shadow:0 1px 2px rgb(198, 200, 202);
}
.app-header-content{
  padding:15px 10px;
}
.app-header-content{
  margin:auto 30px;
} 
.app-header button{
  float:right;
}
 .board-container{
  text-align:left;
  margin:auto;
  padding:20px;
 }

.board-container > div{
  display:inline-block;
  vertical-align:top;
}
.app-menu{
  width:250px;
  background-color:#fff;
  padding:13px;
}

.board , .app-menu{  
  background: white;
  margin:0;
  /*
  box-shadow:0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  */
}
.board{
  width:calc(100% - (250px + 50px));
  min-height:1000px;
  padding:10px 5px;
}
.list-header{
  text-align:left;
  margin:0 0 20px 0;
  padding:15px 0;
  position:relative;
  color: #194274;
  border-bottom:1px solid #ccc;
}
.list-header h1{
  font-size:20px;
  margin:0;
}
.list-header button{
  position:absolute;
  top:5px;
  right:10px;
  font-size:16px;
  border:1px  solid #cccc;
  padding:5px 7px;
}
.list-header button:hover{
  background-color:#ccc;
}

/*************** task form *********************/
#task-form-container{
  text-align:left;
}
.task-form {
  margin-bottom:20px;
}
.task-form > .textfield{

  width:100%;
}
/*
*/
/******************** list action bar ***************/
.task-action-bar{
  text-align:right;
}

/******************* task list ********************/
.list{
  text-align: left;
}
.list li{
  padding:17px;
  position:relative;
  background-color:#fff;
  border-bottom:1px solid #eee;
}
.list li.hide-content{
  padding:0;
  border-color:transparent;
}
.list li.hide-content > div:nth-child(1),
.list li.hide-content > div:nth-child(3),
.list li.hide-content p{
  display:none;
}
.list li.hide-content > div:nth-child(2){
  width:100%;
}
.list li:hover{
  background-color:#e6edf3;
}
.list li > div{
  display:inline-block;
  vertical-align:top;
}
.list li > div:nth-child(1){
  width:30px;
  position:relative;
  top:2px;
}
.list li > div:nth-child(2){
  width:calc(100% - 160px);
}
.list li > div:nth-child(3){
  text-align:right;  
  margin-top:-3px;
  margin-left:30px;
}
.list p{
  color:#054890;
  margin:0;
  text-align:left;
  font-size:15px;
}
.list li .textfield{
  width:100%;
  display:none;
  height:55px;
  margin:0;
}
.list li.empty-list{
  background-color:#eee;
  text-align:center;
  color:#0c6bd2;
  font-size:200%;
  display:none;
}
li.completed{
  background-color:#f3f4f5;
}
li.completed p{
  text-decoration:line-through;
  color:#7f90a2;
}

.item-action button{
  padding:0;
  margin:0 0 0 20px;
  border-bottom:2px solid transparent;
  color:#657486;
  border-radius:0;
  font-size:16px;
} 
.item-action button:hover{
  border-bottom-color:#0a407f;
  color:#0a407f;
}
/*
.checkbox{
  position:absolute;
  top:18px;
  left:15px;
}
.checkbox input{
  display:none;
}
.checkbox label{
  display: inline-block;
}
.checkbox label span{
  background:#fff;
  border:1px solid #aaa;
  display:block;
  width:18px;
  height:18px;
  margin-right:10px;
  position:relative;
  border-radius:1px;
}
.checkbox label span:hover{
  border-color:#aaa;
  cursor:pointer;
}
.checkbox label span:before{
  content: '';
  position: absolute;
  border-color: #555;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top:2px;
  left:6px;
  transform: rotate(43deg);
  height:10px;
  width:5px;
  display: none;
}
.checkbox input:checked + label span{
  border-color:#aaa;
}
.checkbox input:checked + label span:before{
  display:block;
}
*/


/**************** Folder List *****************/
#folder-list-container > #get-folder-form{
  display:block;
  width:100%;
}

.folder-list{
  text-align: left;
  margin-top:5px;
}
.folder-list .empty-list{
  text-align:center;
  padding:15px;
  background-color:#eee;
  margin:0;
}

.folder-list label{
  display:block;
  position:relative;
  margin:0;
}
.folder-list button{
  float:right;
  z-index:10;
  position:relative;
  margin-top:5px;
  display:none;
}
.folder-list li:hover button{
  display:block;
}
.folder-list input[type="radio"]{
  display:none;
}
.folder-list input[type="radio"]:checked + span{
  background-color:#c7daf5;
}
.folder-list span{
  display:block;
  margin:0 0 2px 0;
  padding:8px 15px;
  background-color:#fff;
}
.folder-list span:hover{
  background-color:#ebf1f7;
  cursor:pointer;
}

.folder-form{
  text-align:left;
}
.folder-form .textfield{
  margin-bottom:10px;
  display:block;
  width:100%;
}

