html, body{
  width:100%;
  padding:0;
  margin:0;
  border:0;
  color:#222;
  font-family:'Arial','Helvetica', sans-serif;
  font-size:16px;
  text-align:center;
  background: #eef3fb;
}

/************* Application ***************/
.app-header{
  height:50px;
  background-color: #fff;
  border-bottom:1px solid #ddd;
}
.board{
  max-width:1000px;
  margin:30px auto;
  background: white;
  padding:30px;border:1px solid #ddd;
  /*
  padding:30px;
  border:1px solid #ccc;
  box-shadow:0 1px 5px #ccceee;
  */
}
.board-header{
  display:none;
}
.board-header h1{
  padding:20px;
  margin:0 0 30px 0;
  font-size: 21px;
  background:#dfebf9;
  color: #194274;
  text-align:left;
}
.board-header button{
  float:right;
  margin-top:20px;
  margin-right:20px;
}

/*************** task form *********************/
#task-form-container{
  text-align:left;
}
.task-form > input[type="text"]{
  padding:15px;
  width:100%;
  border:0;
  outline:none;
  margin:0;
}

/******************** list action bar ***************/
.task-action-bar{
  text-align:right;
}

/******************* task list ********************/
.list{
  text-align: left;
  border-top:1px dashed #aaa;
}
.list li{
  padding:15px 0;
  background-color:#fff;
  position:relative;
  border-bottom:1px dashed #aaa;
}
.list li.hide-content{
  padding:0;
}
.list li.hide-content > p,
.list li.hide-content > .item-action,
.list li.hide-content > .checkbox{
  display:none;
}
.list li:hover{
  border-color:#ccc;
}
.list .checkbox{
  float:left;
  margin-top:3px;
  margin-right:10px;
}
.list p{
  margin:0 0 0 30px;
  color:#04488f;
  width:calc(100% - 150px);
}
.list li input[type="text"]{
  width:100%;
  border:0;
  outline:none;
  background-color:#eee;
  padding:15px;
  display:none;
}
.empty-list{
  background-color:#eee;
  border-color:#777;
}
li.completed p{
  text-decoration:line-through;
}

.item-action{
  margin-top:5px;
  position:absolute;  
  right:15px;
  top:5px; 
}
.item-action button{
  padding:0;
  margin:0 5px;
  font-size:20px;
  border-bottom:2px solid transparent;
  color:#777;
  border-radius:0;
} 
.item-action button:hover{
  border-bottom-color:#000;
  color:#000;
}
/*
.checkbox{
  position:absolute;
  top:18px;
  left:15px;
}
.checkbox input{
  display:none;
}
.checkbox label{
  display: inline-block;
}
.checkbox label span{
  background:#fff;
  border:1px solid #aaa;
  display:block;
  width:18px;
  height:18px;
  margin-right:10px;
  position:relative;
  border-radius:1px;
}
.checkbox label span:hover{
  border-color:#aaa;
  cursor:pointer;
}
.checkbox label span:before{
  content: '';
  position: absolute;
  border-color: #555;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top:2px;
  left:6px;
  transform: rotate(43deg);
  height:10px;
  width:5px;
  display: none;
}
.checkbox input:checked + label span{
  border-color:#aaa;
}
.checkbox input:checked + label span:before{
  display:block;
}
*/


/**************** Folder List *****************/
.folder-list{
  text-align: left;
}
.folder-list .modal-content{
  padding:10px;
}
.folder-list .list-group-item:hover{
  background-color:#0e77eb;
  color:white;
  cursor:pointer;
}

