.notice{
  font-size:14px;
  font-weight:bold;
  float: left;
}
.notice p{
  text-align:left;
}
.notice-button{
  padding:7px 10px;
  background-color:#fff;
  border:0;
  display:inline-block;
  border-radius:3px;
  background-color:#ff3f00;
  color:#fff;
  font-size:13px;
  line-height:1em;
  outline:none;
}
.notice-button:hover{  
  cursor:pointer;
  background-color:#ff3f00;
  text-decoration:underline; 
}

/**************************/
.textfield{
  border:0;
  outline:none;
  background-color:#fff;
  padding:15px;
}
.btn-blue{
  background-color:#4c93ea;
  border-color:#3f7fce;
  color:#fff;
}
.btn-blue:hover{
  background-color:#3f7fce;
  color:#fff;
}
.btn-yellow{
  background-color:#fbe163;
  border-color:#d2b52a;
}
.btn-yellow:hover{
  background-color:#eac510;
}
.btn-green{
  background-color:#11bd11;
  border-color:#059805;
  color:#fff;
}
.btn-green:hover{
  background-color:green;
  color:#fff;
}
.btn-red{
  background-color:#ff3f00;
  border-color:red;
  color:#fff;
}
.btn-red:hover{
  background-color:red;
  color:#fff;
}

/*
li.doing{
  border-color:#f3cf1f;
  background-color: #f8f06aed;
}
li.doing:hover{  
  background-color: #faf04f;
}
*/

/*
li.todo{
  border-color:#9ac2f3;
  background-color:#d5e8fe;
}
li.todo:hover{
  background-color:#a9cef8;
}
*/

.checkbox{
  display:inline-block;
}
.checkbox input{
  display:none;
}
.checkbox label{
  display: inline-block;
  margin-bottom:0; /* override bootstrap */
}
.checkbox label span{
  background:#fff;
  border:1px solid #0a50a7;
  display:block;
  width:18px;
  height:18px;
  margin-right:10px;
  position:relative;
  float:left;
  border-radius:20px;
}
.checkbox label span:hover{
  background-color:#0a50a7;
}
.checkbox label span:before{
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top:3px;
  left:6px;
  transform: rotate(45deg);
  height:8px;
  width:4px;
  display: none;
}
.checkbox input:checked + label span{
  background-color:#0a50a7;
}
.checkbox input:checked + label span:before{
  display:block;
}