.theme-color-default .textfield{
  border-color:#89bdf1;
  background-color:#f7f9fb;
}
.theme-color-default .textfield:hover,
.theme-color-default .textfield:focus{
  border-color:#639cda;
}
.theme-color-default label{
  color:#076fde;
}
.theme-color-default h1{
  background-color:#007bff;
  color:#fff;
}
/*******************************/
.theme-color-green label{
  color:#079207;
}
.theme-color-green h1{
  background-color:#0cd639;
  color:#fff;
}
.theme-color-green .textfield{
  border-color:#adf5ad;
  background-color:#f3fff3;
}
.theme-color-green .textfield:hover,
.theme-color-green .textfield:focus{
  border-color:#3ce63c;
}

/********************************/
.theme-color-purple label{
  color:#8484c5;
}
.theme-color-purple h1{
  background-color:#8484c5;
  color:#fff;
}
.theme-color-purple .textfield{
  border-color:#c1bcfd;
  background-color:#f9f9fd;
}
.theme-color-purple .textfield:hover,
.theme-color-purple .textfield:focus{
  border-color:#8484c5;
}

/********************************/
.theme-color-yellow label{
  color:#d09d04;
}
.theme-color-yellow h1{
  background-color:#ffc107;
  color:#fff;
}
.theme-color-yellow .textfield{
  border-color:#fde889;
  background-color:#f6ffd3;
}
.theme-color-yellow .textfield:hover,
.theme-color-yellow .textfield:focus{
  border-color:#ffde4a;
}

/********************************/
.theme-color-red label{
  color:#da1212;
}
.theme-color-red h1{
  background-color:#fa4242;
  color:#fff;
}
.theme-color-red .textfield{
  border-color:#fbb199;
  background-color:#fff9f6;
}
.theme-color-red .textfield:hover,
.theme-color-red .textfield:focus{
  border-color:#fd8963;
}